# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel

# Large video files (>100MB)
public/Image all projet/Visu_Champs/Rendu_final_Q2_VISU.mp4
public/Image all projet/Visu_Champs/Rendu_final_Q2_VISU_1.mp4
public/Image all projet/B2A2_Copine_J_VFX.mp4
public/Image all projet/B2A2_Copine_J_VFX - Copie.mp4
public/Image all projet/IKEA/IKEA FINAL2.mp4
